.homePage {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background: url("src/assets/backIzba.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    position: fixed;
}

@media screen and (max-width: 390px) {
    .homePage {
        background: url("src/assets/backIzba.jpg");
        background-size: 683px 716px;
        background-repeat: no-repeat;
    }
}