.bear {
    display: flex;
    width: 100%;
    max-width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    transform: translateX(120px);
}

.bearPopup {
    position: relative;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bearPopupContainer {
    position: absolute;
    content: '';
    z-index: 8;
    border: 1px darkred solid;
    border-radius: 20px;
    padding: 10px;
    transform: translate(-210px, -100px);
    background-color: #dc9fae;
}

.bearWait {
    height: 200px;
    width: 300px;
    background-size: contain;
    background-image: url("./src/assets/bear-wait.png");
    background-repeat: no-repeat;
}

.bearPopupContainerSpeak {
    position: absolute;
    content: '';
    z-index: -1;
    border: 1px darkred solid;
    border-radius: 20px;
    padding: 10px;
    min-width: 250px;
    transform: translate(-250px, -175px);
}